body
{overflow-x: hidden;}
#timer
{
  
    height: 300px;
}
#timer img
{
    width: 100%;
    position: absolute;
    position: absolute;

left: 0px;
}
#timer p
{
    padding-top: 160px;
    text-align: center;
    color: white;
    margin-bottom: 0px;
    font-size: 17px;
    font-family: Spicy Rice;
    z-index: 5;

position: relative;
padding-left: 18px;
}
#timer div
{
    text-align: center;
    font-size: 20px;    
    line-height: 20px;    
    padding: 0;    
    font-family: Spicy Rice;    
    z-index: 2;    
    position: relative;    
    width: 32%;    
    display: inline-table;
    padding-left: 15px;
}
#timer .time
{
    text-align: center;
    font-size: 60px;
    height: 60px;
    line-height: 60px;
    padding: 0; 
    font-family: Spicy Rice;
    z-index: 2;
    position: relative;
    width: 32%;
    display: inline-table;
    padding-left: 11px;
}
.hasLine
{
    border-left:1px solid;
}

