.container
{
    position: relative !important;
    z-index: 4 !important;
}
.navbar 
{
    z-index:10 !important;
}
.footer div
{z-index: 10 !important;}
.snowFlake
{
    position: absolute;
    width:5px;
    height:5px;  
    background: white;
    border-radius: 5px;
    z-index: 3;
    
}
#snows
{
width: 100%;
height: 300px;
position: absolute;
z-index: 6;

}
