/* 
$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;

$grid-breakpoints: (
  xs: 400px,
  sm: 505px,
  md: 790px,
  lg: 1170px
  ); */
p {
  text-align: justify;
}

.footer p {

  color: white !important;
  text-align: center !important;

}

.hisTitle {
  font-size: 2em;
}

body {
  overflow-wrap: break-word;
  hyphens: none;
  letter-spacing: 0.5px;
  overflow-x: hidden;
}

h1 {
  font-family: 'Pacifico', cursive;
  margin-bottom: 20px;
  font-size: 54px;
}

h2 {
  font-family: 'Pacifico', cursive;
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 36px;
  color: #3e3cb2;
  text-align: center;
}

h3 {
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 20px;
  font-size: 24px;
  color: #3e3cb2;
  font-weight: bold;
  text-align: center;
}

h5 {
  font-size: 16px;
}

h6 {
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  color: #fff;
}

p {
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  color: #474747;

}

.navbar-default {
  background: none;
  border: none;
  color: white;
}

.navbar-nav li a {
  color: white;
  font-size: 15px;
  letter-spacing: .5px;
  text-align: center;
}

.navbar-nav :hover {
  color: #ffc09e;
}

.btn {
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  color: #3e3cb2;
  font-size: 14px;
  background: #ffc09e;
  padding: 5px 25px 5px 25px;
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 30px;
}


.btn:hover {
  background: #f9b48f;
  zz text-decoration: none;

}

.verde {
  background: #5bb244;
  color: #fff;
}

.verde:hover {
  background: #4fa738;
  text-decoration: none;
  color: #fff;
}

.mov {
  color: #fff;
  background: #7e7cff;
}

.mov:hover {
  background: #7472fa;
  text-decoration: none;
  color: #fff;
}

.timer {
  margin: 30px;
  margin-left: -90px;
  position: relative;
  text-align: center;
}

.timerTextTop {
  vertical-align: top;
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.timerTextBot {
  position: absolute;
  line-height: 100px;
  top: 160px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.timerTextBetween {
  white-space: nowrap;
  position: absolute;
  line-height: 100px;
  top: 130px;
  left: 50%;
  transform: translate(-50%, -50%);
}

#demo {
  font-family: 'Pacifico', cursive;
  white-space: nowrap;
  font-size: 54px;
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translate(-50%, -50%);
}

#link {
  color: #F0F2F4;
}

.top {
  color: white;
  background: linear-gradient(-33deg, #335384, #19335A);
  position: relative;
  font-family: 'Quicksand', sans-serif;
}

.top::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  right: 0;
  background-repeat: repeat-x;
  height: 8px;
  background-size: 75px 9px;
  background-image: url('Untitled-2.png');
}

.Info {
  position: relative;
  width: 100%;
}

.InfoText {
  position: absolute;
  top: 90px;
  left: 10%;
  width: 80%;
}

.InfoSection {
  margin-bottom: 40px;
}

.padBot {
  margin-bottom: 60px;

}

.padBot img {
  height: 300px;
  width: 100%
}

.row {
  backround: none;
}

.beneficiar {
  color: white;
  background: linear-gradient(-33deg, #DD2438, #B90E1E);
  position: relative;
  font-family: 'Quicksand', sans-serif;
  padding-bottom: 60px;
}

.beneficiar::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat-x;
  height: 10px;
  background-size: 75px 9px;
  background-image: url('Untitled-2.png');
  transform: rotate(180deg);
}

.beneficiar::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  right: 0;
  background-repeat: repeat-x;
  height: 8px;
  background-size: 75px 9px;
  background-image: url('Untitled-2.png');
}

.textAlb {
  color: white;
}

.aliniereDrp {
  text-align: right;
}

.aliniereStg {
  text-align: left;
}

.aliniereJst {
  text-align: justify;
}

.aliniereCen {
  text-align: center;
}

.cont {
  -moz-box-shadow: 0px 0px 27px 0px #398726;
  -webkit-box-shadow: 0px 0px 27px 0px #398726;
  box-shadow: 0px 0px 27px 0px #398726;
  background-color: #F0F2F4;
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  border-radius: 28px;
  color: #3e3cb2;
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  padding: 20px 85px;
  text-decoration: none;
  text-align: center;
  margin-top: 25px;
}

.umbra {
  -moz-box-shadow: 0px 0px 15px 0px #BEBEBE;
  -webkit-box-shadow: 0px 0px 15px 0px #BEBEBE;
  box-shadow: 0px 0px 15px 0px #BEBEBE;
  background-color: #ffffff;
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  border-radius: 28px;
  padding: 20px 40px;
  text-decoration: none;
  text-align: left;
}

.categorie ul {
  list-style-type: none;
  margin-left: -30px;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  color: #474747;
}

.categorie {
  position: relative;
  text-align: center;
}

.footer {
  color: white;
  background: linear-gradient(-33deg, #2C4C7B, #173258);
  position: relative;
  font-family: 'Quicksand', sans-serif;
}

.footer::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat-x;
  height: 10px;
  background-size: 75px 9px;
  background-image: url('Untitled-2.png');
  transform: rotate(180deg);
}

.footer ul li {
  list-style-type: none;
}

#sponsori {
  text-align: center;
}

.circle {


  color: white;
  margin-right: 35px;
  padding-top: 5px;
  padding-left: 10px;

}

.circle:hover {
  color: #3e3cb2;
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 5px 7px;
  padding-left: 9.5px;
  margin: 5px;
}

#circle2 {
  color: white;
}

#circle2:hover {
  color: #3e3cb2;
  background-color: white;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  padding: 5px 7px;
  margin: 5px;
}

.social ul li {
  display: inline;
  padding-right: 20px;
}

.noPadding {
  padding: 0;
}

.paddingRight {
  padding-right: 40px;
}

#leftSide {
  padding-left: 10%;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

#foot {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 45%;
  margin-bottom: 0px;
}


/* .mov-box {
  background: linear-gradient(45deg, #3e3cb2, #7e7cff);
  flex-grow: 1;
  width: 100%;
  height: 100px;
} */

.snow {
  background-image:
    url(https://i.imgur.com/uYjnk8N.png),
    url(https://i.imgur.com/iAGD6MA.png),
    url(https://i.imgur.com/hIJDjbg.png);
  animation: snow 30s linear infinite;
}

@keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }

  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px
  }
}

@media only screen and (max-width: 768px) {
  .alinPh {
    text-align: left !important;
    padding-left: 5%;
  }

  .padPh {
    padding-left: 5%;
  }

  .bntCen {
    text-align: center !important;
  }
}

.mySlides {
  display: none;
  width: 100%;
  text-align: justify;
  border-radius: 25px;
  height: auto;
}

.ani {
  background-color: transparent;
  border: 1px solid #7E7CFF;
  box-shadow: 1px 2px #7E7CFF;
  border-radius: 10px;
  padding: 0 2%;
  font-size: 1.5em;
}

.slider {
  width: 100%;
  border: 3px solid #E6E6E6;
  border-radius: 25px;
  box-shadow: 0 -3px 10px 0 #E6E6E6;
}

.center {
  margin: 2% 0 2% 0;
  padding: 0 2%;
  display: block;
  position: relative;
  text-align: center;
}

.content {
  width: 75%;
  margin: 0 auto;
  margin-top: 5%;
  padding-bottom: 20px;
}

.slide-title {
  font-family: 'Pacifico', cursive;
  font-size: 36px;
  color: #3e3cb2;
  text-align: center;
  font-size: 2em;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade_in {
  animation: fade-in .5s ease-in;
}

.section_panel {
  width: 100%;
  height: auto;
}

.container-parteneri {
  background: #fff;
}

.container-parteneri .first-c {
  content: "";
  /* position: absolute;
  top: 132px;
  left: 0;
  bottom: 0;
  right: 0; */
  position: relative;
  top: -8px;
  width: 100%;
  background-repeat: repeat-x;
  height: 10px;
  background-size: 75px 9px;
  background-image: url(Untitled-2.png);
  transform: rotate(0);
}

.container-parteneri .last-c {
  content: "";
  background-repeat: repeat-x;
  height: 10px;
  background-size: 75px 9px;
  background-image: url(Untitled-2.png);
  transform: rotate(180deg);
  position: relative;
  bottom: -8px;
}